# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Eclipse
.classpath
.project
.settings/

# IDE genérica
*.iml
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.bak
*.swp
